<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>
        {% block titulo_pagina %}{% endblock titulo_pagina %}
    </title>

    {% load staticfiles %}
    {% block css %}
            <!-- Bootstrap Core CSS -->
        <link href="{% static 'sb-admin/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static 'sb-admin/css/plugins/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

        <!-- Timeline CSS -->
        <!--<link href="css/plugins/timeline.css" rel="stylesheet">-->

        <!-- Custom CSS -->
        <link href="{% static 'sb-admin/css/sb-admin-2.css' %}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <!--<link href="css/plugins/morris.css" rel="stylesheet">-->

        <!-- Custom Fonts -->
        <link href="{% static 'sb-admin/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Para Fechas -->
        <link rel="stylesheet" href="{% static 'sb-admin/css/plugins/timepicker/bootstrap-datetimepicker.min.css' %}">

        <!-- Estilos Personalizados -->
        <link rel="stylesheet" href="{% static 'sb-admin/css/custom_styles.css' %}">

        <!-- Tables -->
        <link rel="stylesheet" href="{% static 'sb-admin/css/plugins/datatables/dataTables.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'sb-admin/css/plugins/datatables/buttons.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'sb-admin/css/plugins/datatables/responsive.bootstrap.min.css' %}">
    {% endblock css %}

    {% block js %}
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'sb-admin/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'sb-admin/js/plugins/metisMenu/metisMenu.min.js' %} "></script>

        <!-- Morris Charts JavaScript -->
        <!--<script src="js/plugins/morris/raphael.min.js"></script>-->
        <!--<script src="js/plugins/morris/morris.min.js"></script>-->
        <!--<script src="js/plugins/morris/morris-data.js"></script>-->

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'sb-admin/js/sb-admin-2.js' %}"></script>

        <!-- Para Fechas-->
        <script src="{% static 'sb-admin/js/plugins/timepicker/moment.min.js' %}"></script>
        <script src="{% static 'sb-admin/js/plugins/timepicker/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'sb-admin/js/plugins/timepicker/es.js' %}"></script>

        <!-- Para notificaciones -->
        <script src="{% static 'sb-admin/js/plugins/notify/notify.js' %}"></script>

        <!-- Tables -->
        <script src="{% static 'sb-admin/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'sb-admin/js/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'sb-admin/js/plugins/datatables/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'sb-admin/js/plugins/datatables/buttons.bootstrap.min.js' %}"></script>
        <script src="{% static 'sb-admin/js/plugins/datatables/dataTables.responsive.min.js' %}"></script>

        <!-- Custom Js -->
        <script src="{% static 'sb-admin/js/templates.js' %}"></script>

    {% endblock js %}
</head>
<body>
 {% block login %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'inicio_app:index' %}">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'inicio_app:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="{% url 'inicio_app:index' %}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Evaluacion Riesgo<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level {{ collapse_er }}">
                                <li>
                                    <a class="{{ active_n }}" href="{% url 'control_app:new_eval_riesgo' %}">Nuevo</a>
                                </li>
                                <li>
                                    <a href="{% url 'control_app:evaluciones' %}">Evaluaciones</a>
                                </li>
                                <li>
                                    <a href="{% url 'control_app:eval_pendientes' %}">Evaluaciones Pendientes <span id="bg_ep" class="badge">0</span></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Medida de Control<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Medidas</a>
                                </li>
                                <li>
                                    <a href="#">Medidas Pendientes <span id="bg_mp" class="badge">0</span></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Plan de Accion<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Planes</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block titulo %} {% endblock titulo %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% block contenido %}

            {% endblock contenido %}
        </div>
        <!-- /#page-wrapper -->
    </div>
{% endblock login %}

 <!-- Para todas las notificaciones-->
<script>
    $(document).ready(function(){
        {% for message in messages %}
            $.notify("{{ message }}", { position:"top center", "className": "{{ message.tags }}"});
        {% endfor %}

        num_eval_pendientes();
        num_medidas_pendientes();
    });

    function num_eval_pendientes(){
        $.ajax({
            dataType: "json",
            contentType:"application/json; charset=utf-8",
            url: "/total_eval_pendientes/",
            type: "get",
            success: function(response){
                $("#bg_ep").text(response);
            }
        });
    }

    function num_medidas_pendientes(){
        $.ajax({
            dataType: "json",
            contentType:"application/json; charset=utf-8",
            url: "/total_medidas_pendientes/",
            type: "get",
            success: function(response){
                $("#bg_mp").text(response);
            }
        });
    }
</script>
</body>
</html>
