
<div class="modal-header" style="background-color: #eea236; color: white;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Cambiar Contraseña</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="oldpass">Contraseña Anterior</label>
                <input type="password" class="form-control" id="oldpass" name="oldpass" required/>
            </div>
            <div class="form-group">
                <label for="npass">Nueva Contraseña</label>
                <input type="password" class="form-control" id="npass" name="npass" required/>
            </div>
            <div class="form-group">
                <label for="rpass">Confirmar</label>
                <input type="password" class="form-control" id="rpass" name="rpass" required/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="close_modal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
</div>